{% extends "master.html" %} {% block title %} Student list {% endblock title %} {% block content %}

<h1 class="text-center mt-3 mb-3">Students List</h1>
<div class="container">
  <table class="table table-striped">
    <thead class="border border-secondary border-2 rounded">
      <tr>
        <th scope="col">S No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Course</th>
        <th scope="col">Enrollement Date</th>
         <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <th scope="row">{{student.id}}</th>
        <td>{{student.student_name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.course}}</td>
        <td>{{student.enrollment_date}}</td>
         <td>
          <a href="{% url 'details' student.id %}" class="btn btn-primary" tabindex="-1" role="button">View</a>
          <a href="" class="btn btn-success" tabindex="-1" role="button">Update</a>
          <a href="{% url 'delete_student' student.id %}" class="btn btn-danger" tabindex="-1" role="button">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
